/* Theme Color */
.main-header .search-box-btn:hover,
.btn-style-eight,
.main-header .top-left ul li i,
.order-box ul li span,
.accordion-box .block .icon,
.page-title .bread-crumb li,
.projects-tabs .tab-btns .tab-btn.active-btn,
.brochure-box > span,
.comments-area .comment-box .reply-btn,
.news-block-three .lower-content .link-box a,
.service-block-three .inner-box:hover .icon,
.services-section-two .title-column .title-box .title,
.checkout-page .default-links li a,
.shop-comment-form .rating-box .rating a,
.shop-comment-form .mail-text span,
.footer-links li a:hover,
.product-details .basic-details .details-header .rating,
.main-footer.style-two .copyright-text a,
.contact-info-block .inner-box:hover .icon,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:hover,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:focus,
.product-info-tabs .prod-tabs .add-review .rating .rate-box:active,
.product-info-tabs .prod-tabs .reviews-container .rating,
.product-details .basic-details .details-header .item-price,
.sidebar .related-posts .post .rating .fa,
.fun-fact-section .count-box:hover .icon,
.sidebar .related-posts .post a,
.sidebar .related-posts .post a:hover,
.shop-cat-list li.active a:before,
.shop-cat-list li a:hover:before,
.shop-item .inner-box .lower-content .rating .fa,
.shop-item .inner-box .lower-content .link-box a:hover,
.shop-item .inner-box .lower-content .price,
.shop-item .inner-box .lower-content h3 a:hover,
.latest-news .recent-post:hover h3 a,
.latest-news .recent-post .info li a:hover,
.cat-list li.active a span,
.cat-list li:hover a span,
.main-footer.style-two .footer-nav li a:hover,
.main-footer.style-two .scroll-to-top:hover,
.main-footer.style-two .copyright-text a
.footer-links li a:hover,
.main-footer .footer-bottom .footer-nav ul li a:hover,
.main-footer .footer-bottom .copyright-text a:hover,
.user-links li a:hover,
.serivce-list li a:hover,
.recent-posts .post h4 a:hover,
.social-icon-two li a:hover,
.contact-info-block p a:hover,
.contact-section .contact-info ul li a:hover,
.styled-pagination li.prev-post a:hover,
.styled-pagination li.next-post a:hover,
.blog-detail .post-controls h5 a:hover,
.author-box .social-icon li a:hover,
.blog-detail .post-share-options .social-icon li a:hover,
.blog-detail .post-share-options .tags a:hover,
.news-block-three .blockquote h2 span,
.news-block-three .lower-content h4 a:hover,
.news-block-three .lower-content .info li:hover  i,
.news-block-three .lower-content .info li a:hover,
.news-block .lower-content .link-box a,
.news-block .lower-content h3 a:hover,
.team-info .social-links li a:hover,
.team-tabs .team-thumb .tab-btn:hover .name,
.team-tabs .team-thumb .active-btn .name,
.testimonial-section .owl-next:hover,
.testimonial-section .owl-prev:hover,
.testimonial-block .rating,
.testimonial-block .icon,
.feature-block h4 a:hover,
.mixitup-gallery .filters li.active,
.mixitup-gallery .filters li:hover,
.projects-tabs .link-box a,
.project-block .info-box h4 a:hover,
.fun-fact-section-two .count-box .count-text,
.fun-fact-section-two .count-box,
.fun-fact-section .count-box .count-text,
.testimonial-block-two .info .designation,
.history-block h3 a:hover,
.history-block .inner-box:hover .history span,
.services-sidebar .brochure-link a:hover,
.services-list li a:before,
.service-tabs .tab-btns .tab-btn:hover,
.service-tabs .tab-btns .tab-btn.active-btn,
.service-block-three .link-box a,
.service-block-three h3 a:hover,
.serivce-block-two .link-box a:hover,
.serivce-block-two .link-box a i,
.serivce-block-two h3 a:hover,
.serivce-block-two .icon-box .icon,
.services-carousel .owl-next:hover,
.services-carousel .owl-prev:hover,
.service-block .lower-content .link-box a i,
.service-block .lower-content .link-box a:hover,
.service-block .lower-content h3 a:hover,
.video-section .title-box .text span,
.video-section .title-box h4,
.about-section .image-column .title-box h2,
.welcome-section .title-column h2,
.banner-carousel .owl-prev:hover, 
.banner-carousel .owl-next:hover,
.banner-section .social-icon li a:hover,
.banner-carousel .link-box .link:hover,
.main-slider .title,
.main-slider .project-box .link:hover,
.main-slider .project-box .link i,
.main-slider .project-box .icon,
.main-slider h2 span,
.page-title .bread-crumb li a:hover,
.page-title h1:before,
.sticky-header .main-menu .navigation > li:hover > a,
.sticky-header .main-menu .navigation > li.current > a,
.sticky-header .main-menu .navigation > li.current-menu-item > a,
.header-style-two .search-box-btn,
.header-style-two .info-box .icon-box,
.main-menu .navigation > li.current > a:after,
.main-menu .navigation > li:hover > a:after,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li:hover > a,
.social-icon-one li a:hover,
.main-header .top-right .top-links li a:hover,
.main-header .top-left ul li a:hover,
.list-style-two li:before,
.list-style-one li:before,
.btn-style-eight,
.btn-style-four:hover,
.theme_color,
a{
	color: #01FF70;
}

/*=== Background Color ===*/

.btn-style-eight:hover,
.range-slider-one .ui-state-default, 
.range-slider-one .ui-widget-content .ui-state-default,
.accordion-box .block .acc-btn.active,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn:hover,
.shop-single .product-details .prod-tabs .tab-btns .tab-btn.active-btn,
.shop-item .inner-box .image .btn-box a:hover,
.shop-item .inner-box .image .btn-box a,
.news-section .form-column .inner-column,
.latest-news .recent-post-carousel .owl-next:hover,
.latest-news .recent-post-carousel .owl-prev:hover,
.sidebar .search-box .form-group button,
.sidebar-page-container .sidebar-title h2:before,
.main-footer.style-two .scroll-to-top:hover .icon,
.main-footer.style-two .scroll-to-top,
.social-icon-four:before,
.social-icon-four,
.styled-pagination li a:hover,
.styled-pagination li.active a,
.news-block .image-box:hover .icon-box,
.team-info .name:before,
.features-section .image-column .content-box:before,
.projects-carousel-two .owl-dot:hover,
.projects-carousel-two .owl-dot.active,
.project-block-two .overlay-box:before,
.projects-section-two .title-column:before,
.testimonial-area .owl-next:hover,
.testimonial-area .owl-prev:hover,
.testimonial-block-two .thumb .icon,
.history-block .history span,
.history-block .history:after,
.work-process-tabs .tab-btns .tab-btn.active-btn,
.brochure-box .theme-btn:hover,
.services-sidebar .brochure-link a:hover,
.services-section-two .owl-dot.active,
.services-section-two .owl-dot:hover,
.services-carousel .owl-dot.active,
.services-carousel .owl-dot:hover,
.services-carousel .owl-next,
.services-carousel .owl-prev,
.video-box .image:before,
.video-section .video-box .image,
.banner-carousel .owl-dots ,
.sec-title h2:before,
.header-style-three .call-btn,
.header-style-three .main-menu .navigation > li:before,
.header-style-three .header-lower .logo-box,
.header-style-two .header-lower .main-box:before,
.header-style-two .header-lower .main-box,
.main-header .cart-btn .count,
.main-menu .navigation > li > ul > li  > ul > li > a:hover,
.main-menu .navigation > li > ul > li:hover > a,
.btn-style-six:hover,
.btn-style-five,
.btn-style-one{
	background-color: #01FF70;
}

/*Border Color*/
.range-slider-one .ui-state-default, 
.range-slider-one .ui-widget-content .ui-state-default,
.contact-form .form-group input:focus,
.contact-form .form-group select:focus,
.contact-form .form-group textarea:focus,
.coupon-form .form-group input[type="text"]:focus,
.checkout-form input:focus,
.checkout-form select:focus,
.checkout-form textarea:focus,
.login-form .form-group input[type="text"]:focus,
.login-form .form-group input[type="password"]:focus,
.login-form .form-group input[type="tel"]:focus,
.login-form .form-group input[type="email"]:focus,
.login-form .form-group select:focus,
.login-form .form-group textarea:focus,
.shop-comment-form .form-group input[type="text"]:focus,
.shop-comment-form .form-group input[type="password"]:focus,
.shop-comment-form .form-group input[type="tel"]:focus,
.shop-comment-form .form-group input[type="email"]:focus,
.shop-comment-form .form-group select:focus,
.shop-comment-form .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group textarea:focus,
.product-info-tabs .prod-tabs .add-review .form-group input:focus,
.product-info-tabs .prod-tabs .add-review .form-group select:focus,
.comment-form .form-group input:focus,
.comment-form .form-group select:focus,
.comment-form .form-group textarea:focus,
.sidebar .search-box .form-group input:focus,
.contact-form-two .form-group input:focus,
.contact-form-two .form-group select:focus,
.contact-form-two .form-group textarea:focus,
.testimonial-section .owl-next:hover,
.testimonial-section .owl-prev:hover,
.request-form .form-group input:focus,
.request-form .form-group select:focus,
.request-form .form-group textarea:focus,
.testimonial-area .owl-next,
.testimonial-area .owl-prev,
.testimonial-area .outer-box,
.work-process-tabs .tab-btns .tab-btn.active-btn,
.brochure-box .theme-btn:hover,
.services-list li.active a:after,
.services-list li:hover a:after,
.btn-style-eight,
.service-block .inner-box:hover .lower-content  .inner,
.about-section .image-column .inner-column:before,
.banner-carousel .content-box:before,
.btn-style-two:hover,
.btn-style-two,
.main-menu .navigation > li > ul,
.main-menu .navigation > li > ul > li > ul{
	border-color: #01FF70;
}

/*Box Shadow*/
.btn-style-three:hover,
.btn-style-two:hover{
	box-shadow: #01FF70 0 0px 0px 40px inset;
}


@media only screen and (max-width: 767px){
	
	.main-menu .navbar-header .navbar-toggler .icon{
		color:#01FF70;
	}
	
	.main-menu .navbar-header .navbar-toggle,
	.main-menu .navbar-collapse > .navigation,
	.main-menu .navbar-collapse > .navigation > li > ul,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul,
	.main-menu .navbar-collapse > .navigation > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a,
	.main-menu .navbar-collapse > .navigation > li > a:hover,
	.main-menu .navbar-collapse > .navigation > li > a:active,
	.main-menu .navbar-collapse > .navigation > li > a:focus,
	.main-menu .navbar-collapse > .navigation > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
	.main-menu .navbar-collapse > .navigation > li.current > a,
	.main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
		background-color:#01FF70;
	}
	
}